<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/b5035ca9ea.js"></script>
<title>Home</title>
</head>

<body>
    <div class='w3-sand' style="text-align: center; max-width: 500px; margin: 0 auto 0 auto; border-radius: 15px;">
    <p>
        <a href="{% url 'learning_logs:index' %}"">
       learning Log
        </a>
        -
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
     </p>
    </div>
    <div style="text-align: left;">
     
    {% block content %}
     {% endblock content %}

    </div>
</body>

</html>