
    
    {% extends "learning_logs/base.html" %}
    
    {% block content %}
    <div class="content w3-flat-sun-flower w3-round-large">
        <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
        
        <p>Edit entry:</p>

        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button class='button w3-btn w3-ripple w3-round-large w3-flat-midnight-blue'  name="submit">Save Changes</button>
        </form>
    </div>

    <style>
        .content {
            text-align: left;
             margin: 2% auto 0 auto;
             max-width: 1000px;
             padding: 3%;
        }

    </style>

    {% endblock content %}
 