
    
    {% extends "learning_logs/base.html" %}
    
    {% block content %}
    <div class="content w3-amber w3-round-large">
        <p><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></p>
        
        <p>Edit entry:</p>

        <form action="{% url 'learning_logs:edit_entry' entry.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name="submit">save changes</button>
        </form>
    </div>

    <style>
        div {
            text-align: left; margin: 0 auto 0 auto; width: 70%;
        }

        p {
            margin-left: 1%;
        }

        ul {
            margin-left: 1%;
        }

        .content {
            padding: 0 1%;
            font-family: Georgia;
        }
    </style>

    {% endblock content %}
 