

    {% extends "learning_logs/base.html" %}

    {% block header %}

    <div class="w3-panel w3-flat-belize-hole" style="text-align: center; height: 300px">
        <h1>
            Learning Log 
        </h1>
        <h5>
            Keep track of your learning 
            <br> wherever you go.
        </h5>
    </div>

    {% endblock header %}

    {% block content %}

    <div class="w3-panel w3-flat-belize-hole" style="text-align: center; height: 300px">

    <p style="margin-left: 2%;"> Learning Log helps you keep track of your learning, for any topic you're learning about. </p>

            </div>

</div>
    {% endblock content %}
 
