

    {% extends "learning_logs/base.html" %}

    {% block header %}

    <div class="header w3-panel w3-flat-belize-hole" style="text-align: center; width: 80%; height: 200px; margin: 0 auto;">
        <h1>
            Learning Log 
        </h1>
        <h5>
            Keep track of your learning 
            <br> wherever you go.
        </h5>

        <hr>

</div>
    {% endblock header %}

    {% block content %}

<div class="content w3-panel w3-flat-belize-hole" style="text-align: left; width: 80%;">
       

    <h5>
        To begin, <a href="{% url 'users:register' %}">Register an account</a> to make
        your own Learning Log, and list the topics you're learning about.
        </h5>
    
        <h5>
            Whenever you learn something new about a topic, make an entry
            summarizing what you've learned.
            </h5>

</div>    

<style> 
    p {
    margin-left: 10%;
    }

    h5 {
        margin-bottom: 0;
    }
    .content {
        height: 100%;
        padding: 2% 5% 10% 5%;
        margin: 0 auto;
    }
    
    .header {
        margin-top: 5%;
    }
</style>

    {% endblock content %}
 
