<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/b5035ca9ea.js"></script>
<title>Home</title>
</head>

<body>
    
    {% extends "learning_logs/base.html" %}
    
    {% block content %}
    <div class="w3-amber w3-round-large">
        <p>Topics</p>

        <ul>
            {% for topic in topics %}
                <li>
             <a href="{% url 'learning_logs:topic' topic.id %}">
             {{topic}}
            </a>
                </li>
            {% empty %}
                <li>No topics have been added yet...</li>
            {% endfor %}
        </ul>

        <a href="{% url 'learning_logs:new_topic' %}">Add a new topic:</a>

    </div>

    <style>
        div {
            text-align: left; margin: 0 auto 0 auto; width: 70%;
        }

        p {
            margin-left: 2%;
        }

        ul {
            margin-left: 2%;
        }
    </style>

    {% endblock content %}
 
    
</body>

</html>