{% extends "learning_logs/base.html" %}


    <div class='w3-sand' style="text-align: center; max-width: 500px; margin: 0 auto 0 auto; border-radius: 15px;">
    <p>
        <a href="{% url 'learning_logs:index' %}"">
       learning Log
        </a>
        -
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
     </p>
    </div>

  
    {% block content %}
    <div class="w3-round-large">
        
        <p>Topic: {{topic}}</p>

        <P>Entries:</P>

        <p>
            <a href="{% url 'learning_logs:new_entry' topic.id %}">add a new entry</a>
        </p>

        <ul>
            {% for entry in entries %}
            <li>
                <p> Published {{entry.date_added|date:'D d M Y'}} at {{entry.date_added|time:'H:i'}}</p>
                <p>{{entry.text|linebreaks}}</p>
                <p>
                    <a href="{% url  'learning_logs:edit_entry'  entry.id %}">edit entry</a>
                </p>
            </li>
            {%empty%}
            <li>
                There are no entries for this topic yet.
            </li>
            {%endfor%}
        </ul>

    </div>

    <style>
        .topics {
            margin: 0 auto;
            margin-top: 5%;
            max-width: 75%;
            padding: 2%;
            text-align: left;
        }

        li {
            list-style-type: none;
            padding: 2% 0 1% 0;
            border-bottom: 2px solid white;
            font-size: larger;
        }
        
        a:link {
            text-decoration: none;
         
        }

        li:hover {
            background-color: #2C3E50;
            color: white;
        }

        h5 {
            color: white;
            font-size: 200%;
        }

        .button {
            margin-top: 3%;
        }

    </style>

     {% endblock content %}
