{% extends "learning_logs/base.html" %}


    <div class='w3-sand' style="text-align: center; max-width: 500px; margin: 0 auto 0 auto; border-radius: 15px;">
    <p>
        <a href="{% url 'learning_logs:index' %}"">
       learning Log
        </a>
        -
        <a href="{% url 'learning_logs:topics' %}">Topics</a>
     </p>
    </div>

  
    {% block content %}
    <div class="content w3-round-large">
        <div class='overhead1 w3-panel w3-amber w3-center'>
        <p style="font-size: x-large;">Topic: {{topic}}</p>
        </div>
        
        <div class="overhead2" style="padding: 5%;">
        <P style="font-size: 150%; margin: 0%;">Entries:</P>
        <a style='margin-top: 0.5%;' class='button w3-btn w3-ripple w3-round-large w3-flat-sun-flower' href="{% url 'learning_logs:new_entry' topic.id %}">Add a new entry</a>
        </div>


        <div class='entry'>
        
        <P style="margin: 0% 0 0 2%; text-decoration: underline;">Entries:</P>
        <ul>
            {% for entry in entries %}
            <li>

                <p>{{entry.text|linebreaks}}</p>
                <p style="font-size: 80%; margin-bottom: 0;"> Published {{entry.date_added|date:'D d M Y'}} at {{entry.date_added|time:'H:i'}}</p>
                <p style="margin-top: 0; padding-top: 0;">
                    <a  style='margin-top: 1%; font-size: 80%;' class='button w3-btn w3-ripple w3-round-large w3-flat-sun-flower'href="{% url  'learning_logs:edit_entry'  entry.id %}">edit entry</a>
                </p>
                <hr>
            </li>
            {%empty%}
            <li>
                There are no entries for this topic yet.
            </li>
            {%endfor%}
        </ul>
    </div>

    </div>

    <style>

        .entry {
            padding: 0% 2% 0 0;
            border-bottom: 2px solid white;
            font-size: larger;

        }

        li {
        letter-spacing: normal;
        list-style: none;
        }

        a:link {
            text-decoration: none;
         
        }

        li:hover {
            background-color: #2C3E50;
            color: white;
        }

        h5 {
            color: white;
            font-size: 200%;
        }

        .button {
            margin-top: 3%;
        }

        .content{
            max-width: 1000px;
        }

        .overhead2 {
            text-align: center;
        }

    </style>

     {% endblock content %}
